<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Service.js"></script>
    <script src="~/Scripts/Employee/Module.js"></script>    
    <script src="~/Scripts/Employee/Controller.js"></script>
    <style>

    </style>
    <script>
        $(document).ready(function () {
            $("#submitBtn").click(function () {
                var errMsg = "";
                if ($("empName").val() == "") {
                    errMsg += "Name\n";
                }
                if ($("empEmail").val() == "") {
                    errMsg += "Email\n";
                }
                if ($("empAge").val() == "") {
                    errMsg += "Age\n";
                }

                if (errMsg != "") {
                    alert("The following fields cannot be EMPTY:\n" + errMsg);
                    return false
                }
                else
                    return true;
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Richard's Projects", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")

        @RenderSection("scripts", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Richard Wu's ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>